*{
    margin: 0;
    padding: 0;
    font-family: "Playfair Display", serif;
}

<<<<<<< HEAD
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url("https://media.licdn.com/dms/image/C5612AQGntBqIs3KfLw/article-cover_image-shrink_720_1280/0/1520104232366?e=2147483647&v=beta&t=0nHLITioWHsbc3pfsEhOH4LNTNvVWQdzuZLAUM7BAqE");
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 150px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}

.nav-links ul li::after{
    content: '';
    width: 100%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
=======
.heading-primary {
    font-family: "Lato", sans-serif;
    font-size: 5.5em; 
    color: #017bf5;
}

.heading-secondary {
    font-family: "Lato", sans-serif;
    font-size: 5em;
    color: #000; 
}



.background1{
    background-color: black;
    background-size: cover;
    background-position: center;
>>>>>>> cbeb7836a6c588176432c3d5e7879e3824077f17
}



<<<<<<< HEAD



=======
>>>>>>> cbeb7836a6c588176432c3d5e7879e3824077f17
.hero {
    background-color: #51969f;
    background-image: url("https://media.licdn.com/dms/image/C5612AQGntBqIs3KfLw/article-cover_image-shrink_720_1280/0/1520104232366?e=2147483647&v=beta&t=0nHLITioWHsbc3pfsEhOH4LNTNvVWQdzuZLAUM7BAqE");
    background-size: cover;
    

    background-blend-mode: multiply;

    color: white;

    padding-top: 150px;
    padding-bottom: 150px;
}

.hero2 {
    background-color: #042327;
    background-size: cover;
    

    background-blend-mode: multiply;

    color: white;

    padding-top: 75px;
    padding-bottom: 75px;
}

.container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;;
}
