{%extends 'base.html'%}
{% block title %} Add Appointment{% endblock %}

{% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    <strong>Message:</strong> {{ message }}
    </div>
{% endfor %}

{% block scheduling %} 
<h1> Add Appointment </h1>
<body>
    <form action="/appointment/" method="post">
        {% csrf_token %}
        <label for="">Patient First Name</label>
        <input type="text" id="fname" name="fname" placeholder="Enter Patient's First Name" Required>
        <br>
        <label for="">Patient Last Name</label>
        <input type="text" id="lname" name="lname" placeholder="Enter Patient's Last Name" Required>
        <br>
        <label for="">Cleaner First Name</label>
        <input type="text" id="cfname" name="cfname" placeholder="Enter Cleaner's First Name" Required>
        <br>
        <label for="">Cleaner Last Name</label>
        <input type="text" id="clname" name="clname" placeholder="Enter Cleaner's Last Name" Required>
        <br>
        <label for="">Junior Surgeon 1 First Name</label>
        <input type="text" id="j1fname" name="j1fname" placeholder="First Name">
        <br>
        <label for="">Junior Surgeon 1 Last Name</label>
        <input type="text" id="j1lname" name="j1lname" placeholder="Last Name">
        <br>
        <label for="">Junior Surgeon 2 First Name</label>
        <input type="text" id="j2fname" name="j2fname" placeholder="First Name">
        <br>
        <label for="">Junior Surgeon 2 Last Name</label>
        <input type="text" id="j2lname" name="j2lname" placeholder="Last Name">
        <br>
        <label for="">Date</label>
        <select name="Month" id="Month" Required>
            <option value="January">January</option>
            <option value="February">February</option>
            <option value="March">March</option>
            <option value="April">April</option>
            <option value="May">May</option>
            <option value="June">June</option>
            <option value="July">July</option>
            <option value="August">August</option>
            <option value="September">September</option>
            <option value="October">October</option>
            <option value="November">November</option>
            <option value="December">December</option>
        </select>
        <input type="number" id="Day" name="Day" min="1" max="31" placeholder="1" Required></input>
        <input type="number" id="Year" name="Year" min="2024" max="2027" placeholder="2024" Required></input>
        
        <br>
        <label for="">Start Time (24hr format) </label>
        <input type="time" id="StartTime" name="StartTime" Required>

        <br>
        <label for="">End Time (24hr format)</label>
        <input type="time" id="EndTime" name="EndTime" Required>

        <br>

        <button type = 'submit'>Schedule</button>
        <label id = "Errors"></label>
    </form>
</body>
{% endblock  %}
