{%extends 'base.html'%}
{% load static%}

<!DOCTYPE html>
{% block title %} Followups {% endblock %}

<html>
    {% block scheduling %} 

    <head>
        <title>Home</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/style2.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    </head>
    
    <body>
    

        

    </body>
    {% endblock  %}

</html>



