{%extends 'base.html'%}

{% load static %}
<!-- The html block inherits from the original base stuff -->

<!DOCTYPE html>

<html>
    {% block content %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../static/css/style2.css">
    </head>
    

    <body>
        <div class="hero">
            <div class="container">
                <h1><font face="Lato" size="5">Medi-Cal - Premium Management</font></h1>
                <p>Stay on top of your appointments and treatments with ease using Medi-Cal convenient management services. Our user-friendly platform allows you to view all upcoming hospital appointments, receive real-time notifications, and book new appointments. Medi-Cal’s timetable offers a stress-free way to manage your calendar and stay organized during your healthcare journey.</p>
            </div>
        </div>
    </body>

        <h3 align="left">
        </h3>
        
        <h1 align="center">
            <font face="Lato" color="#017bf5" size="7">
                WELCOME TO MEDI-CAL
            </font>
        </h1>
        <h3 align="center">
            <font face="Lato" color="#000" size="5">
                Exactly What You Need
            </font>
        </h3>

        <h3 align="center">
        <a href="../personschedule">
            <font face="Lato" color="#0000FF">START SCHEDULING NOW</font>
        </a>
        </h3>

        <body>
            <div class="hero2">
                <div class="container">
                    <h1><font face="Lato" size="5">CHANGING LIVES</font></h1>
                    <p></p>
                </div>
            </div>
        </body>

        {% endblock  %}


</html>



